//- demo: true
mixin vinhBox4(args)
	include cssmodule

	+module('a', css.module, args,href=args.href)
		- 
			let args = item

		//- code
		+vinhImagecover
		include cssmodule
			div.wil-overlay

			div(class=css.content)
				h2(class=css.title)= args.location || random(random.country)
				div(class=css.desc)= args.desc  || random(random.text,20)

				div(class=css.thumbgroup)
					div(class='icon-share')
						i(class='la la-plus')
					+vinhImagecover({
						loop: {
							data: [{},{},{},{}],
						},
					})

	include cssmodule






