//- demo: true
mixin vinhTextboxSmall(args)
	include cssmodule

	+module('span', css.module, args)
		-
			let args = item
			let icon = args.icon || random(random.font7);
			let iconClass = args.iconClass;
			let textClass = args.textClass;

		//- code
		if (has(args.modifier, 'reverse'))
			a(href= args.link || '#')
				span(class=css.text, class=args.classText)= args.text || 'July 12'
				span(class=css.icon, class=iconClass): i(class=icon)
		else if (has(args.modifier,'singleIcon')) 
			a(href= args.link || '#')
				span(class=css.icon, class=iconClass): i(class=icon)

		else if (has(args.modifier,'singleText')) 
			span(class=css.text, class=textClass)= args.text || 'July 12'
		else
			a(href= args.link || '#')
				span(class=css.icon, class=iconClass): i(class=icon)
				span(class=css.text, class=args.classText)= args.text || 'July 12'

	include cssmodule
