//- demo: true
mixin vinhImagebox(args)
	include cssmodule

	+module('div', css.module, args)
		- let args = item
		
		//- code
		if (has(args.modifier,'style02'))
			div(class=css.img)
				div.wil-overlay
				+vinhImagecover({
					imgsrc: args.imgsrc 
				})
				include cssmodule
			div(class=css.body)

				h4(class=css.category class=args.categoryColor)
					a(href="#")= args.category || random(random.continental)
				div(class=css.desc)= args.desc || random(random.text, 20)
				div(class=css.imgThumbs)
					a(class='icon-share' href="#")
						i(class= args.imgThumbsIcon ||'la la-plus')
					+vinhImagecover({
						loop: args.imgThumbsData || {
							data: [{},{},{}],
						}
					})
					include cssmodule



		else if (has(args.modifier,'style03'))
			div(class=css.img)
				div(class=css.meta)
					+vinhTextboxSmall({
						loop: args.meta ||  {
							data: [
									{
										icon: 'la la-eye',
										text: '120 view',
										modifier: 'meta',
									},
									{
										icon: 'la la-comment-o',
										text: '03 comment',
										modifier: 'meta',
									}
							],
						}
					})
				div.wil-overlay
				+vinhImagecover({
					imgsrc: args.imgsrc
				})
				include cssmodule
			div(class=css.body)
				h4(class=css.category class=args.categoryColor)
					a(href="#")= args.category || random(random.continental)

				h2(class=css.title)
					a(href="#")= args.title || random(random.title)

				a(class=css.share href="#")
					i(class='la la-ellipsis-v' || args.share.icon)





		else if (has(args.modifier,'style04'))
			div(class=css.img)
				+vinhImagecover({
					imgsrc: args.imgsrc 
				})
				include cssmodule
			div(class=css.body)
				span(class='wil-tag wil-tag--style02' class=args.tagcolor|| random(random.textcolor))=  args.tag || random(random.continental)


				h2(class=css.title)
					a(href="#")= args.title || random(random.title)


				div(class=css.desc)= args.desc || random(random.text, 20)



		else if (has(args.modifier,'style05'))
			div(class=css.img)
				+vinhImagecover({
					imgsrc: args.imgsrc 
				})
				include cssmodule
			div(class=css.body)
				h4(class=css.category class=args.categoryColor)
					a(href="#")= args.category || random(random.continental)
				h2(class=css.title)
					a(href="#")= args.title || random(random.title)




		else if (has(args.modifier,'style06'))
			div(class=css.img)
				div.wil-overlay
				+vinhImagecover({
					imgsrc: args.imgsrc 
				})
				include cssmodule
			div(class=css.body)
				h4(class=css.category class=args.categoryColor)
					a(href="#")= args.category || random(random.continental)
				div(class=css.desc)= args.desc || random(random.text, 20)






		else
			div(class=css.img)
				div(class=css.meta)
					+vinhTextboxSmall({
						loop: args.meta ||  {
							data: [
									{
										icon: 'la la-eye',
										text: '120 view',
										modifier: 'meta',
									},
									{
										icon: 'la la-comment-o',
										text: '03 comment',
										modifier: 'meta',
									}
							],
						}
					})
				div.wil-overlay
				+vinhImagecover({
					imgsrc: args.imgsrc 
				})
				include cssmodule
			div(class=css.body)
				h4(class=css.category class=args.categoryColor)
					a(href="#")= args.category || random(random.continental)

				h2(class=css.title)
					a(href="#")= args.title || random(random.title)


				div(class=css.desc)= args.desc || random(random.text, 20)


				div(class=css.imgThumbs)
					a(class='icon-share' href="#")
						i(class=  'la la-plus' || args.imgThumbsIcon )
					+vinhImagecover({
						loop: args.imgThumbsData || {
							data: [{},{},{}],
						}
					})
					include cssmodule
				a(class=css.share href="#")
	include cssmodule
