//- demo: true
mixin longBodyDesSingle(args)
	include cssmodule

	+module('article', css.module, args)
		- let args = item
		
		+container
			+row

				if (args.modifier === 'style1')
					+col({
						cols: [0,0,10,8],
						offsets: [0,0,1,2]
					})
						if block
							block
						else
							div= random(random.text, 200)
						include cssmodule
						
						div(class=css.share)
							+vinhSocial({
								loop: {
										data: [
											{
												icon: 'la la-facebook',
												text: 'facebook',
												modifier: 'socialtext'
											},
											{
												icon: 'la la-twitter',
												text: 'twitter',
												modifier: 'socialtext'
											},
											{
												icon: 'la la-google-plus',
												text: 'google-plus',
												modifier: 'socialtext'
											},
											{
												icon: 'la la-pinterest',
												text: 'pinterest',
												modifier: 'socialtext'
											},
										]
									},
								})
								include cssmodule

				else if (args.modifier === 'style2')
					+col({
						cols: [0,0,8,8],
						addClass: 'mb-50'
					})
						if block
							block
						else
							div= random(random.text, 200)

						include cssmodule
						div(class=css.share)
							+vinhSocial({
								loop: {
										data: [
											{
												icon: 'la la-facebook',
												text: 'facebook',
												modifier: 'socialtext'
											},
											{
												icon: 'la la-twitter',
												text: 'twitter',
												modifier: 'socialtext'
											},
											{
												icon: 'la la-google-plus',
												text: 'google-plus',
												modifier: 'socialtext'
											},
											{
												icon: 'la la-pinterest',
												text: 'pinterest',
												modifier: 'socialtext'
											},
										]
									},
								})
								include cssmodule



					+col({
						cols: [0,0,3,3],
						offsets: [0,0,1,1]
					})
						include cssmodule
						div(class=css.nav)
							//- Args: icon, iconColor, text
							+vinh_text-box-gradient({
								loop: {
									data: [{
										icon: 'pe-7s-way',
										text: 'Destinations',
										textBoxHref: '#destinations'
									}, {
										icon: 'pe-7s-notebook',
										text: 'Travel Guide Books',
										textBoxHref: '#books'
									}, {
										icon: 'pe-7s-cash',
										text: 'Typical Costs',
										textBoxHref: '#costs'
									}, {
										icon: 'pe-7s-piggy',
										text: 'Budget Tips',
										textBoxHref: '#tips'
									}, {
										icon: 'pe-7s-rocket',
										text: 'Activities',
										textBoxHref: '#activities'
									}]
								},
								addClass: 'mb-10'
							})
