//- demo: true
mixin vinhImagecover(args)
	include cssmodule

	+module('div', 'img-cover', args)
		- let args = item
		- let imgsrc = `img/place/${ random(1, 31) }.jpg`
		//- code
		if (args.link)
			a(href=args.link)
				div(class=css.img , class='cover' style=`background-image:url('${args.imgsrc||imgsrc}')`)
					img(src=args.imgsrc||imgsrc  alt="")
					if block
						block
		else
			div(class='cover', class=css.img,  style=`background-image:url('${args.imgsrc||imgsrc}')`)
				img(src=args.imgsrc||imgsrc  alt="")
				if block
					block
	include cssmodule

