//- 
//- Wil grid
//- Version 2.0
//- Wiloke.com
//- 

mixin wil-grid-scss(args)
	if (args)

		- var cols = args.cols ? args.cols : ''
		- xs = typeof cols[0] != 'undefined' ? cols[0] : ''
		- sm = typeof cols[1] != 'undefined' ? cols[1] : ''
		- md = typeof cols[2] != 'undefined' ? cols[2] : ''
		- lg = typeof cols[3] != 'undefined' ? cols[3] : ''


		+tag('div', 'wil-grid-scss', args)(
			data-col-lg=lg,
			data-col-md=md,
			data-col-sm=sm,
			data-col-xs=xs,
			data-ratio=args.ratio ? args.ratio : null,
			data-gap=typeof args.gap !='undefined' ? args.gap : '30',
		)
			if args.filter
				.wil-filter(class=args.filterClass ? args.filterClass : null)
					ul.wil-filter__list
						each item in args.filter
							- filter = item.itemfilter == '*' ? item.itemfilter : '.' + item.itemfilter;
							li: a(href="#", data-filter=filter)= item.text
			.wil-grid__inner
				.grid-sizer
				if block
					block
				else
					p No content provided
					
mixin itemInner(args)
	.grid-item__inner
		.grid-item__content-wrapper
			block

mixin item(args)
	if (args)
		+wilBlock('div', 'grid-item', args)(
			class=args.size ? args.size : null,
			class=args.category ? args.category : null
		)
			+itemInner
				if block
					block
		
	else
		div&attributes(attributes).grid-item
			+itemInner
				if block
					block
