//- demo: true
mixin vinhWidgetPost(args)
	include cssmodule

	+module('div', '', args)
		- let args = item
		- let imgsrc = `img/place/${ random(1, 35) }.jpg`

		
		//- code
		.widget_post-item 
			a.widget_post-item__media(style=`background-image:url('${args.imgsrc||imgsrc}')`)
				img(src=args.imgsrc || imgsrc, alt="")
			.widget_post-item__body
				h4(class='widget_post-item__category' class=args.catColor || random(random.textcolor))
					a(href="#")= args.category || random(random.continental)
				h2.widget_post-item__title
					a(href="#")= args.title || random(random.title)
				div.widget_post-item__meta

					a.widget_post-item__view(href="#")
						i(class=args.iconView || 'la la-eye' )
						=args.viewText|| `${random(1,1000)} Views`
					

					a.widget_post-item__comment(href="#")
						i(class=args.iconComment || 'la la-comment')
						=args.commentText|| `${random(1,1000)} Comments`
					
					



		
	include cssmodule
