//- demo: true
mixin vinhBox(args)
	include cssmodule

	+module('div', css.module, args)
		- 
			let args = item
			let imgsrc = `img/place/${ random(1, 31) }.jpg`

		
		//- code
		include cssmodule
		div(class=css.img)

			+vinhImagecover({
				modifier: 'ratio-16by9'
			})
			include cssmodule

			div.wil-overlay
			+vinhTextboxSmall({
				text: random(random.continental),
				modifier: 'category',
				bgColor: args.bgColor || random(random.bgcolor)
			})
			include cssmodule
			div(class=css.social)
				+vinhSocial({
					loop: {
							data: [
								{icon: 'la la-facebook'},
								{icon: 'la la-twitter'},
								{icon: 'la la-google-plus'},
								{icon: 'la la-pinterest'},
							]
						},
					modifier: 'style02'
				})
				include cssmodule
		div(class=css.content)
			div(class=css.desc)
				h2(class=css.title)= set(args,'title',random(random.title))
				div(class=css.meta)
					+vinhTextboxSmall({							
						loop: {
							data: [
								{
									icon: 'la la-eye',
									text: '120 view',
									modifier: 'meta',
								},
								{
									icon: 'la la-comment-o',
									text: '03 comment',
									modifier: 'meta',

								}
							],
							modifier: 'meta'
						}
					})
					include cssmodule

			div(class=css.share)
				+vinhTextboxSmall({
					loop: {
						data: [
							{
								icon: 'pe-7s-share',
								modifier: 'singleIcon',
							}
						],
					}
				})
				include cssmodule
