//- demo: true
mixin vinhFooter(args)
	include cssmodule
	include data
	+module('footer', css.module, args)
		- 
			let args = item
			let imgsrc = `img/place/${ random(1, 31) }.jpg`
			let imgsrc2 = `img/place/${ random(1, 31) }.jpg`
			let imgsrc3 = `img/place/${ random(1, 31) }.jpg`
			let imgsrc4 = `img/place/${ random(1, 31) }.jpg`
			let imgsrc5 = `img/place/${ random(1, 31) }.jpg`
			let imgsrc6 = `img/place/${ random(1, 31) }.jpg`


		
		//- code
		+section({
			container: true,
			css: {
				'background': '#212223'
			},
			addClass: 'py-65',
		})

			+row
				+col({
					cols: [0,0,3,3]
				})
					+vinhWidget({
						title: 'travel advice',
						addClass: 'widget_list',
					})
						+vinhWidgetList({
							loop: {
								data: footer.cat,
								children: true,
							}
						})
				+col({
					cols: [0,0,3,3]
				})
					+vinhWidget({
						title: 'travel tips',
						addClass: 'widget_post',
					})
						+vinhWidgetPost({
							loop: {
								data: [{},{}],
								children: true,
							}
						})


				+col({
					cols: [0,0,3,3]
				})
					+vinhWidget({
						title: 'travel tips',
						addClass: 'widget_gallery',
					})
						+vinhWidgetGallery({
							loop: {
								data: [{},{},{},{},{}],
								children: true,
							}
						})
				+col({
					cols: [0,0,3,3]
				})
					+vinhWidget({
						title: 'travel tips',
						addClass: 'widget_chart'
					})
						+vinhWidgetChart({

							loop: {
								data: [
									{
										addClass: 'mb-10',	

									},
									{
										addClass: 'mb-10',	

									},
									{
										addClass: 'mb-10',	

									}
									],
								children: true,
							},


						})

		+section({
			addClass: 'py-0',
			css: {
				'background': '#1b1b1d'
			}
		})
			+vinhFooterSocial({

			})

		include cssmodule
