-
	var widget = {

		cat: [
			{
				text: 'Hotel'
			},
			{
				text: 'Beauty & Spa'
			},
			{
				text: 'Food & Drink'
			},
			{
				text: 'FastFood'
			},
			{
				text: 'Club & bar'
			},
			{
				text: 'Travel'
			},
			{
				text: 'Fashion'
			},
		],
		
		discover: [
			{
				text: 'Mobile apps'
			},
			{
				text: 'Mobile Web'
			},
			{
				text: 'Write a review'
			},
			{
				text: 'Create collections'
			},
			{
				text: 'Rewards'
			},
			{
				text: 'Privacy'
			},
			{
				text: 'Term of use'
			},
		],
		
		company: [
			{
				text: 'About us'
			},
			{
				text: 'Support'
			},
			{
				text: 'Jobs'
			},
			{
				text: 'Investors'
			},
			{
				text: 'Give Us Feedbacks'
			},
			{
				text: 'Regulation'
			},
			{
				text: 'Contact'
			},
		],

		gallery: [
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			},
			{
				img: `img/place/${ random(1,20) }.jpg`,
			}
		],

		post: [
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2017'
			},
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2017'
			},
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2016'
			},
		],

		postPop: [
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2017'
			},
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2017'
			},
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2017'
			},
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2017'
			},
			{
				title: random(random.title),
				img: `img/place/${ random(1,20) }.jpg`,
				meta: 'July 12, 2016'
			},
		],

		tags: [
			{
				text: 'Hotel'
			},
			{
				text: 'Beauty & Spa'
			},
			{
				text: 'Food & Drink'
			},
			{
				text: 'FastFood'
			},
			{
				text: 'Club & bar'
			},
		],

		subscribe: [
			{
				text: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quis!',
				inputText: 'Name',
				inputEmail: 'Email',
				select: 'Where are you from?',
				button: {
					addClass: 'wil-btn',
					name: 'Get travel tips'
				}
			}
		],
		
	}
