//- demo: true
mixin vinhPostDetail(args)
	include cssmodule

	+module('article', 'post', args)
		- let args = item
		- let country = random(random.country)
		
		//- code
		header
			if (args.postType === 'quote')
				//- Args: quote
				+long_quote1({
					
				})
				include cssmodule
			else if (args.postType === 'video')
				//- Args: img, popup, icon
				+video-popup({
					modifier: ['round'],
					img: 'img/place/6.jpg',
					addClass: 'video-popup-parallax-inner',
					attr: {
						'data-hover-parallax-options': '3d'
					}
				})
				include cssmodule
			else if (args.postType === 'slider')
				//- Args: options, prevText, nextText, thumbnails, pagination, nextText, prevText
				+vinhSwiper({
					options: {
						spaceBetween: 0,
						slidesPerView: 1,
						loop: true,
						effect: 'fade'
					},
					nextText: '<i class="la la-angle-right"></i>',
					prevText: '<i class="la la-angle-left"></i>',
					addClass: 'swiper--button-pill swiper--button-abs'
				})
					- for (let i = 0; i < 3; i++)
						//- Args: img, link
						+vinhImagecover({
							modifier: 'ratio-16by9'
						})
						include cssmodule

			else
				//- Args: img, link
				+vinhImagecover({
					modifier: 'ratio-16by9',
				})
				include cssmodule
			include cssmodule
		div(class=css.body)
			+vinhTextboxSmall({
				modifier: 'category',
				category: args.category || random(random.continental)
			})
			include cssmodule
			h2(class=css.title)
				a(href="#")= args.title || random(random.title)
			div(class=css.meta)
				+vinhTextboxSmall({
					loop: {
							data: [
								{
									text: `${random(1,100)} Views`,
									icon: 'la la-eye',
									modifier: 'meta',

								},
								{
									text: `${random(1,100)} Comments`,
									icon: 'la la-comment',
									modifier: 'meta',

								}
							],

						},
				})
				include cssmodule

			div(class=css.social)
				+vinhSocial({
					loop: {
							data: [
								{
									icon: 'la la-facebook',
									text: 'facebook',
									modifier: 'socialtext'
								},
								{
									icon: 'la la-twitter',
									text: 'twitter',
									modifier: 'socialtext'
								},
								{
									icon: 'la la-google-plus',
									text: 'google-plus',
									modifier: 'socialtext'
								},
								{
									icon: 'la la-pinterest',
									text: 'pinterest',
									modifier: 'socialtext'
								},
							]
						},
				})
				include cssmodule
			div(class=css.content)
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac odio a odio convallis euismod. Sed sed vehicula leo. Link Nulla a mi gravida, convallis urna vitae, blandit elit. Integer ornare, #[a(href='#') ex id vehicula porttitor]  ipsum tortor placerat felis, non mollis ante dui a elit. Praesent volutpat sagittis dolor sed pharetra. Fusce eleifend leo ex, eget ultrices dui convallis at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus volutpat, metus eget tincidunt sagittis, dolor lorem luctus sapien, a hendrerit neque diam eget nibh. Aenean ac massa a lectus congue dignissim. Duis enim metus, tincidunt et auctor eu, suscipit a sapien. Vestibulum at maximus dolor, nec malesuada turpis. Maecenas mollis dolor ac sapien venenatis, eu convallis orci vestibulum. Donec non iaculis purus.

				figure(class='')
					img(src='https://picsum.photos/1000/400')
					figcaption= random(random.text,120)
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac odio a odio convallis euismod. Sed sed vehicula leo. Nulla a mi gravida, convallis urna vitae, blandit elit. Integer ornare, ex id vehicula porttitor, ipsum tortor placerat felis, non mollis ante dui a elit. Praesent volutpat sagittis dolor sed pharetra. Fusce eleifend leo ex, eget ultrices dui convallis at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus volutpat, metus eget tincidunt sagittis, dolor lorem luctus sapien, a hendrerit neque diam eget nibh.

				blockquote.wp-block-quote
					p Aenean ac massa a lectus congue dignissim. Duis enim metus, tincidunt et auctor eu, suscipit a sapien. Vestibulum at maximus dolor, nec malesuada turpis. Maecenas mollis dolor ac sapien venenatis, eu convallis orci vestibulum. Donec non iaculis purus.
				+vinhWidgetTag({
					addClass: 'tagcloud',
					loop: {
						data: [
							{
								text: random(random.country)
							},
							{
								text: random(random.country)

							},
							{
								text: random(random.country)

							},
						],

						children: true
					}
				})
				include cssmodule
	include cssmodule
